---
layout: default
---

<div class="well article">
{% assign trans = site.data.values[site.lan] %}
{% assign sortedcategories = site.categories | sort %}
{% for category in sortedcategories %}
    <h2>
        {% if category[0] == 'skill' %}
        {{ trans.skill }}
        {% endif %}
        {% if category[0] == 'program' %}
        {{ trans.program }}
        {% endif %}
        {% if category[0] == 'movies' %}
        {{ trans.movies }}
        {% endif %}
        {% if category[0] == 'game' %}
        {{ trans.game }}
        {% endif %}
    </h2>
    <ul>
        {% assign pages_list = category[1] %}
        {% for node in pages_list %}
            {% if node.title != null %}
            {% if group == null or group == node.group %}
                <li><span class="post-date">
                    {% assign date_format = site.date_format.categories %}
                    {{ node.date | date: date_format }} </span><a href="{{ site.baseurl}}{{ node.url }}">{{ node.title }}</a></li>
            {% endif %}
            {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
    </ul>
{% endfor %}
</div>
